<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Invoice Runs
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
      <span>
        <button mat-button type="button" (click)="createInvoiceRun()">
          <mat-icon>add_circle</mat-icon> Create a New Invoice Run
        </button>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort [matSortActive]="sortConfig.initialSortActive"
      [matSortDirection]="sortConfig.initialSortDirection" matSortDisableClear>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let invoiceRun; columns: displayedColumns; let i = index" (mouseenter)="mouseEnter(i)"
        (mouseleave)="mouseLeave()" onclick="" [class.row-highlighted]="i === highlightedRowIndex"
        [class.row-spotlighted]="i === spotlightedRowIndex">
      </mat-row>
      <ng-container matColumnDef="issueDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Issue Date</mat-header-cell>
        <mat-cell *matCellDef="let invoiceRun">{{invoiceRun.issueDate | date:'shortDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="sinceClosed">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Since</mat-header-cell>
        <mat-cell *matCellDef="let invoiceRun">{{invoiceRun.sinceClosed | date:'shortDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="untilOpen">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Until</mat-header-cell>
        <mat-cell *matCellDef="let invoiceRun">{{invoiceRun.untilOpen | date:'shortDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let invoiceRun; let i = index">
          <button *ngIf="i === highlightedRowIndex" mat-button type="button" (click)="startInvoiceRun(invoiceRun)">
            <mat-icon>play_circle_filled</mat-icon> Start
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
    <div [hidden]="dataSource.totalElements === 0">
      <mat-paginator [length]="dataSource.totalElements" [pageSize]="paginatorConfig.initialPageSize"
        [pageSizeOptions]="paginatorConfig.pageSizeOptions">
      </mat-paginator>
    </div>
    <app-no-records-found [length]="dataSource.totalElements"></app-no-records-found>
  </mat-card-content>
</mat-card>
