table {
  width: 100%;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
}

.mat-column-status {
  width: 70px;
}

.mat-column-options {
  width: 250px;
  text-align: right;
}

tr.invoice-run-parent-row td {
  border-bottom-width: 0;
}

tr.invoice-run-detail-row {
  height: 0;
}

.invoice-run-detail-element {
  overflow: hidden;
  display: flex;
}

.invoice-run-detail-element > * {
  width: 100%;
}
