<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Invoice Runs
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
      <span>
        <button mat-button type="button" (click)="createInvoiceRun()">
          <mat-icon>add_circle</mat-icon> Create a New Invoice Run
        </button>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" matSort [matSortActive]="sortConfig.initialSortActive"
      [matSortDirection]="sortConfig.initialSortDirection" matSortDisableClear multiTemplateDataRows>
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let invoiceRun; columns: displayedColumns; let i = dataIndex" (mouseenter)="mouseEnter(i)"
        (mouseleave)="mouseLeave()" [class.row-highlighted]="i === highlightedRowIndex"
        [class.row-spotlighted]="i === spotlightedRowIndex" onclick="" class="invoice-run-parent-row">
      </tr>
      <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="invoice-run-detail-row"></tr>
      <ng-container matColumnDef="issueDate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Issue Date</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.issueDate | date:'shortDate'}}</td>
      </ng-container>
      <ng-container matColumnDef="sinceClosed">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Since</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.sinceClosed | date:'shortDate'}}</td>
      </ng-container>
      <ng-container matColumnDef="untilOpen">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Until</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.untilOpen | date:'shortDate'}}</td>
      </ng-container>
      <ng-container matColumnDef="firstInvoiceNumber">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>First Invoice Number</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.firstInvoiceNumber}}</td>
      </ng-container>
      <ng-container matColumnDef="numberTemplate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Number Template</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.numberTemplate}}</td>
      </ng-container>
      <ng-container matColumnDef="status">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Status</th>
        <td mat-cell *matCellDef="let invoiceRun">
          <mat-spinner [diameter]="20" *ngIf="invoiceRun.status === 'STARTED'"></mat-spinner>
          <mat-icon *ngIf="invoiceRun.status === 'FINISHED' && invoiceRun.progress?.numberOfFailures === 0">
            done</mat-icon>
          <mat-icon *ngIf="invoiceRun.status === 'FINISHED' && invoiceRun.progress?.numberOfFailures > 0">error_outline
          </mat-icon>
        </td>
      </ng-container>
      <ng-container matColumnDef="progress.numberOfInvoicesToGenerate">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Number of Invoices</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.progress?.numberOfInvoicesToGenerate}}</td>
      </ng-container>
      <ng-container matColumnDef="progress.numberOfSuccesses">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Successes</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.progress?.numberOfSuccesses}}</td>
      </ng-container>
      <ng-container matColumnDef="progress.numberOfFailures">
        <th mat-header-cell mat-sort-header *matHeaderCellDef>Failures</th>
        <td mat-cell *matCellDef="let invoiceRun">{{invoiceRun.progress?.numberOfFailures}}</td>
      </ng-container>
      <ng-container matColumnDef="options">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let invoiceRun; let i = dataIndex">
          <button [disabled]="invoiceRun.status != 'NEW'" *ngIf="i === highlightedRowIndex" mat-button type="button"
            (click)="startInvoiceRun(invoiceRun)">
            <mat-icon>play_circle_filled</mat-icon> Start
          </button>
          <button [disabled]="invoiceRun.status == 'NEW'" *ngIf="i === highlightedRowIndex" mat-button type="button"
            (click)="expandedInvoiceRun = expandedInvoiceRun?.id === invoiceRun.id ? null : invoiceRun">
            <mat-icon *ngIf="expandedInvoiceRun?.id !== invoiceRun.id">expand_more</mat-icon>
            <mat-icon *ngIf="expandedInvoiceRun?.id === invoiceRun.id">expand_less</mat-icon> Details
          </button>
        </td>
      </ng-container>
      <ng-container matColumnDef="expandedDetail">
        <td mat-cell *matCellDef="let invoiceRun" [attr.colspan]="displayedColumns.length">
          <div class="invoice-run-detail-element"
            [@detailExpand]="invoiceRun.id == expandedInvoiceRun?.id ? 'expanded' : 'collapsed'">
            <app-invoice-run-messages-list *ngIf="expandedInvoiceRun?.id === invoiceRun.id" [invoiceRun]="invoiceRun">
            </app-invoice-run-messages-list>
          </div>
        </td>
      </ng-container>
    </table>
    <div [hidden]="dataSource.totalElements === 0">
      <mat-paginator [length]="dataSource.totalElements" [pageSize]="paginatorConfig.initialPageSize"
        [pageSizeOptions]="paginatorConfig.pageSizeOptions">
      </mat-paginator>
    </div>
    <app-no-records-found [length]="dataSource.totalElements"></app-no-records-found>
  </mat-card-content>
</mat-card>
