<form (ngSubmit)="search()" autocomplete="off" novalidate>
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Search Criteria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput maxlength="36" placeholder="Serial Number" name="serialNumber"
          [(ngModel)]="metersSearchCriteria.serialNumber">
      </mat-form-field>
      <mat-checkbox name="onlyUnassigned" [(ngModel)]="metersSearchCriteria.onlyUnassigned" color="primary">Show only unassigned
      </mat-checkbox>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">
        <mat-icon>search</mat-icon> Search
      </button>
    </mat-card-actions>
  </mat-card>
</form>
