<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        History of Readings Uploads
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table id="ae-table-readings-uploads" [dataSource]="dataSource" matSort
      [matSortActive]="sortConfig.initialSortActive" [matSortDirection]="sortConfig.initialSortDirection"
      matSortDisableClear>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="date">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Upload Date</mat-header-cell>
        <mat-cell *matCellDef="let readingUpload">{{readingUpload.date | date:'medium'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="fileName">
        <mat-header-cell mat-sort-header *matHeaderCellDef>File Name</mat-header-cell>
        <mat-cell *matCellDef="let readingUpload">{{readingUpload.fileName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="status">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Status</mat-header-cell>
        <mat-cell *matCellDef="let readingUpload">
          <mat-icon *ngIf="readingUpload.status === 'OK'" color="primary">
            cloud_done
          </mat-icon>
          <mat-icon *ngIf="readingUpload.status !== 'OK'" color="primary">
            cloud_off
          </mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="errorMessage">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Error Message</mat-header-cell>
        <mat-cell *matCellDef="let readingUpload">{{readingUpload.errorMessage}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="reading.readingSpread.numberOfMeasuredValues">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Measured</mat-header-cell>
        <mat-cell id="ae-cell-measured-values" *matCellDef="let readingUpload">
          {{readingUpload?.reading?.readingSpread?.numberOfMeasuredValues}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="reading.readingSpread.numberOfExpectedValues">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Expected</mat-header-cell>
        <mat-cell id="ae-cell-expected-values" *matCellDef="let readingUpload">
          {{readingUpload?.reading?.readingSpread?.numberOfExpectedValues}}
        </mat-cell>
      </ng-container>
    </mat-table>
    <div [hidden]="dataSource.totalElements === 0">
      <mat-paginator [length]="dataSource.totalElements" [pageSize]="paginatorConfig.initialPageSize"
        [pageSizeOptions]="paginatorConfig.pageSizeOptions">
      </mat-paginator>
    </div>
    <app-no-records-found [length]="dataSource.totalElements"></app-no-records-found>
  </mat-card-content>
</mat-card>
