.mat-icon {
  cursor: default;
}

.mat-column-status {
  flex: 0 0 70px;
  justify-content: center;
}

.mat-column-reading-readingSpread-numberOfMeasuredValues {
  flex: 0 0 70px;
  justify-content: center;
}

.mat-column-reading-readingSpread-numberOfExpectedValues {
  flex: 0 0 70px;
  justify-content: center;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
}
