table {
  width: 200px;
  background-color: darkorange;
}

.mat-column-number {
  flex: 0 0 70px;
}

mat-header-row {
  border-bottom-width: 0;
}

mat-row {
  border-top-color: rgba(0, 0, 0, 0.12);
  border-top-width: 1px;
  border-bottom-width: 0;
}

.no-messages-found {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80px;
}
