<mat-table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let invoiceRunMessage; columns: displayedColumns;">
  </mat-row>
  <ng-container matColumnDef="number">
    <mat-header-cell *matHeaderCellDef>Number</mat-header-cell>
    <mat-cell *matCellDef="let invoiceRunMessage; let i = index">{{dataSource.totalElements - i}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="message">
    <mat-header-cell *matHeaderCellDef>Message</mat-header-cell>
    <mat-cell *matCellDef="let invoiceRunMessage">{{invoiceRunMessage.message}}</mat-cell>
  </ng-container>
</mat-table>
<div *ngIf="dataSource.totalElements === 0" class="no-messages-found">
  <p>There are no messages in this invoice run.</p>
</div>
