<input type="file" (change)="uploadFiles($event)" multiple/>

<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Upload Progress
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
      <span *ngIf="dataSource.loading">({{dataSource.numberOfUploadedFiles}})</span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
        <mat-cell *matCellDef="let uploadProgressItem">{{uploadProgressItem.fileName}}</mat-cell>
      </ng-container>

      <ng-container matColumnDef="percentage">
        <mat-header-cell *matHeaderCellDef>Percentage</mat-header-cell>
        <mat-cell *matCellDef="let uploadProgressItem">{{uploadProgressItem.percentage | async | percent | default:'Waiting...'}}</mat-cell>
      </ng-container>

      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
  </mat-card-content>
</mat-card>
