<form #loginForm="ngForm" (ngSubmit)="search()" autocomplete="off" novalidate>
  <mat-form-field>
    <input matInput [matDatepicker]="issueDateFrom" placeholder="Issue date from" name="issueDateFrom" [(ngModel)]="invoicesSearchCriteria.issueDateFrom">
    <mat-datepicker-toggle matSuffix [for]="issueDateFrom"></mat-datepicker-toggle>
    <mat-datepicker #issueDateFrom></mat-datepicker>
  </mat-form-field>

  <mat-form-field>
    <input matInput [matDatepicker]="issueDateTo" placeholder="Issue date to" name="issueDateTo" [(ngModel)]="invoicesSearchCriteria.issueDateTo">
    <mat-datepicker-toggle matSuffix [for]="issueDateTo"></mat-datepicker-toggle>
    <mat-datepicker #issueDateTo></mat-datepicker>
  </mat-form-field>

  <button mat-button type="submit">
    <mat-icon>search</mat-icon> Search
  </button>
</form>
