<form (ngSubmit)="search()" autocomplete="off" novalidate>
  <mat-card class="mat-card">
    <mat-card-header>
      <mat-card-title>Search Criteria</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-form-field>
        <input matInput [matDatepicker]="issueDateSince" placeholder="Issue date since" name="issueDateSince"
          [(ngModel)]="invoicesSearchCriteria.issueDateSince">
        <mat-datepicker-toggle matSuffix [for]="issueDateSince"></mat-datepicker-toggle>
        <mat-datepicker #issueDateSince></mat-datepicker>
      </mat-form-field>
      <mat-form-field>
        <input matInput [matDatepicker]="issueDateUntil" placeholder="Issue date until" name="issueDateUntil"
          [(ngModel)]="invoicesSearchCriteria.issueDateUntil">
        <mat-datepicker-toggle matSuffix [for]="issueDateUntil"></mat-datepicker-toggle>
        <mat-datepicker #issueDateUntil></mat-datepicker>
      </mat-form-field>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button type="submit">
        <mat-icon>search</mat-icon> Search
      </button>
    </mat-card-actions>
  </mat-card>
</form>
