.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-card {
  width: 500px;
}

.mat-card-content {
  height: 180px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.mat-card-actions {
  display: flex;
  justify-content: center;
}
