<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        List of Meters
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
      <button mat-button type="button" (click)="registerMeter()">
        <mat-icon>add_circle</mat-icon> Register a Meter
      </button>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort [matSortActive]="sortConfig.initialSortActive"
      [matSortDirection]="sortConfig.initialSortDirection" matSortDisableClear>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let meter; columns: displayedColumns; let i = index" (mouseenter)="mouseEnter(i)"
        (mouseleave)="mouseLeave()" onclick="" [class.row-highlighted]="i === highlightedRowIndex"
        [class.row-spotlighted]="i === spotlightedRowIndex">
      </mat-row>
      <ng-container matColumnDef="serialNumber">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Serial Number</mat-header-cell>
        <mat-cell *matCellDef="let meter">{{meter.serialNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="createdDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Registration Date</mat-header-cell>
        <mat-cell *matCellDef="let meter">{{meter.createdDate | date:'mediumDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="options">
        <mat-header-cell *matHeaderCellDef></mat-header-cell>
        <mat-cell *matCellDef="let meter; let i = index">
          <button *ngIf="i === highlightedRowIndex" mat-button type="button" (click)="editMeter(meter)">
            <mat-icon>edit</mat-icon> Edit
          </button>
        </mat-cell>
      </ng-container>
    </mat-table>
    <div [hidden]="dataSource.totalElements === 0">
      <mat-paginator [length]="dataSource.totalElements" [pageSize]="paginatorConfig.initialPageSize"
        [pageSizeOptions]="paginatorConfig.pageSizeOptions">
      </mat-paginator>
    </div>
    <app-no-records-found [length]="dataSource.totalElements"></app-no-records-found>
  </mat-card-content>
</mat-card>