table {
  width: 100%;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
}

.mat-column-number {
  flex: 0 0 300px;
}

.mat-column-options {
  flex: 0 0 170px;
  justify-content: flex-end;
}

.mat-column-meter {
  flex: 0 0 300px;
}
