.mat-card-title {
  display: flex;
  justify-content: space-between;
}

table {
  width: 100%;
}

.mat-column-client-number {
  width: 280px;
}

.mat-column-client-meter-serialNumber {
  width: 280px;
}

.mat-column-options {
  width: 250px;
  text-align: right;
}

tr.invoice-parent-row td {
  border-bottom-width: 0;
}

tr.invoice-detail-row {
  height: 0;
}

.invoice-detail-element {
  overflow: hidden;
  display: flex;
}

.invoice-detail-element > * {
  width: 100%;
}
