<mat-card class="card">
  <mat-card-header>
    <mat-card-title>List of invoices</mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="invoices">
      <ng-container matColumnDef="number">
        <th mat-header-cell *matHeaderCellDef> Number </th>
        <td mat-cell *matCellDef="let invoice"> {{invoice.number}} </td>
      </ng-container>

      <ng-container matColumnDef="issueDate">
        <th mat-header-cell *matHeaderCellDef> Issue Date </th>
        <td mat-cell *matCellDef="let invoice"> {{invoice.issueDate | date:'shortDate'}} </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
  </mat-card-content>
</mat-card>
