<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Invoices
        <mat-spinner *ngIf="dataSource.loading" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource" matSort [matSortActive]="sortConfig.initialSortActive"
      [matSortDirection]="sortConfig.initialSortDirection" matSortDisableClear>
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="number">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Number</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.number}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="issueDate">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Issue Date</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.issueDate | date:'shortDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="grossTotal">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Gross Total</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.grossTotal}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="client.number">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Client Number</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.client.number}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="client.lastName">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Client Name</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.client.firstName}} {{invoice.client.lastName}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="client.meter.serialNumber">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Meter</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.client.meter.serialNumber}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="invoiceRun.sinceClosed">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Invoiced Period</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.invoiceRun.sinceClosed | date:'shortDate'}} - {{invoice.invoiceRun.untilOpen | date:'shortDate'}}</mat-cell>
      </ng-container>
      <ng-container matColumnDef="planVersion.plan.name">
        <mat-header-cell mat-sort-header *matHeaderCellDef>Plan</mat-header-cell>
        <mat-cell *matCellDef="let invoice">{{invoice.planVersion.plan.name}}</mat-cell>
      </ng-container>
    </mat-table>
    <div [hidden]="dataSource.totalElements === 0">
      <mat-paginator [length]="dataSource.totalElements" [pageSize]="paginatorConfig.initialPageSize"
        [pageSizeOptions]="paginatorConfig.pageSizeOptions">
      </mat-paginator>
    </div>
    <app-no-records-found [length]="dataSource.totalElements"></app-no-records-found>
  </mat-card-content>
</mat-card>
