<mat-card class="card">
  <mat-card-header>
    <mat-card-title>
      <span>
        Upload Progress
        <mat-spinner *ngIf="dataSource.uploadInProgress | async" [diameter]="20" class="table-spinner"></mat-spinner>
      </span>
    </mat-card-title>
  </mat-card-header>
  <mat-card-content>
    <mat-table [dataSource]="dataSource">
      <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
      <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
      <ng-container matColumnDef="fileName">
        <mat-header-cell *matHeaderCellDef>File Name</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          {{reading.fileName}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="progress">
        <mat-header-cell *matHeaderCellDef>Progress</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          <mat-progress-bar mode="determinate" [value]="(reading.increment | async).progress"
            *ngIf="(reading.increment | async).progress > 0"></mat-progress-bar>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="processingResult">
        <mat-header-cell *matHeaderCellDef>Result</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          <mat-spinner *ngIf="(reading.increment | async).processingResult === ProcessingResult.WAITING" [diameter]="20"
            class="table-spinner"></mat-spinner>
          <mat-icon *ngIf="(reading.increment | async).processingResult === ProcessingResult.SUCCESS" color="primary">
            cloud_done
          </mat-icon>
          <mat-icon *ngIf="(reading.increment | async).processingResult === ProcessingResult.ERROR" color="primary">
            cloud_off
          </mat-icon>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="errorMessage">
        <mat-header-cell *matHeaderCellDef>Error Message</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          {{(reading.increment | async).errorMessage}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="measured">
        <mat-header-cell *matHeaderCellDef>Measured</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          {{(reading.increment | async).measuredValues}}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="expected">
        <mat-header-cell *matHeaderCellDef>Expected</mat-header-cell>
        <mat-cell *matCellDef="let reading">
          {{(reading.increment | async).expectedValues}}
        </mat-cell>
      </ng-container>
    </mat-table>
  </mat-card-content>
</mat-card>
