.mat-icon {
  cursor: default;
}

.mat-progress-bar {
  width: 80%;
}

.mat-column-processingResult {
  flex: 0 0 70px;
  justify-content: center;
}

.mat-card-title {
  display: flex;
  justify-content: space-between;
}
