<h2 class="mat-h2">
  Preview of Invoice Positions
</h2>
<mat-table [dataSource]="dataSource">
  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let flattenedBucket; columns: displayedColumns;">
  </mat-row>
  <ng-container matColumnDef="description">
    <mat-header-cell *matHeaderCellDef>Description</mat-header-cell>
    <mat-cell *matCellDef="let flattenedBucket">{{flattenedBucket.description}}</mat-cell>
  </ng-container>
  <ng-container matColumnDef="price">
    <mat-header-cell *matHeaderCellDef>Price</mat-header-cell>
    <mat-cell *matCellDef="let flattenedBucket">{{flattenedBucket.price}}</mat-cell>
  </ng-container>
</mat-table>